.dashboard-bg {
    background-image: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&auto=format&fit=crop&w=2000&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.eagle-logo {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2937/2937317.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
